<li>
    <button type="button" class="btn btn-primary navbar-btn" ng-show="signInRequired()" ng-click="authenticate()">Sign In</button>
    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-if="!signInRequired()">
        <img ng-if="userDetails.user.avatar" ng-src="{{userDetails.user.avatar}}" height="24" width="24">
        <span class="glyphicon glyphicon-user no-user-image" ng-if="!userDetails.user.avatar"></span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" ng-if="!signInRequired()">
        <li><a ng-href="http://bitbucket.org/{{userDetails.user.username}}">{{userDetails.user.username}}</a></li>
    </ul>
</li>